body{
    background-image: linear-gradient(90deg, #1c0b1c, #5d17d5, #ff74ff);
    /*
    background: url(./lucid.png);
    */
}

.clock span{
    padding: 20px auto;
    background: #444;
}

.top-section{
    margin:200px auto;
    margin-left: 50px;
    margin-right: 50px;
}